<form action="/instructors" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <input name="yearsOfExperience" placeholder="Years" />
  <button>Create</button>
</form>

<a href="/instructors">Back to Instructors</a>
