<h1><%= instructor.name %></h1>
<p>Email: <%= instructor.email %></p>
<p>Years of Experience: <%= instructor.yearsOfExperience %></p>
<a href="/instructors">Back to Instructors</a>  

<a href="/instructors/<%= instructor._id %>/edit">Edit Instructor</a>
